@using System.Configuration
@model Core.ViewModels.ResponseViewModel

@{
    ViewBag.Title = "Api Tool -> Restaurant";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

@Html.Partial("Partials/_partnerDetails")

<form action="/restaurant/invoke" method="POST">
    <fieldset>
        <label for="restaurantId">Restaurant Id:</label>
        <input type="text" id="restaurantId" name="restaurantId" value="@Html.Raw(ConfigurationManager.AppSettings["RestaurantId"])">
    </fieldset>

    <div class="buttons">
        <input type="submit" class="btn btn-go" value="Get results">
        <a href="/restaurant" class="start-again">Start again</a>
    </div>
</form>

@Html.Partial("Partials/_output", Model)
