@model Core.ViewModels.ResponseViewModel

@if (!string.IsNullOrEmpty(Model.Url))
{
    <h3>API request:</h3>
    <article>
        <pre class="highlight">@Html.Raw(Model.Url)</pre>
    </article>
}

@if (!string.IsNullOrEmpty(Model.AuthHeaders))
{
    <article>
        <h3>Authentication params:</h3>
        <pre id="AuthHeaders" class="highlight">@Model.AuthHeaders</pre>
    </article>
}

@if (Model.PostParameters != null && Model.PostParameters.Any())
{

    <article>
        <h3>POST params:</h3>
        <pre id="PostParameters" class="highlight">@Model.PostParameters</pre>
    </article>
}

@if (!string.IsNullOrEmpty(Model.Response))
{
    <h3>API response:</h3>
    <pre id="Response" class="language-javascript">@Model.Response</pre>
}