@using System.Configuration
<h1>Partner details:</h1>
<ul class="code">
    <li>PID - <code>@Html.Raw(ConfigurationManager.AppSettings["PartnerId"])</code></li>
    <li>Key - <code>@Html.Raw(ConfigurationManager.AppSettings["ConsumerKey"])</code></li>
    <li>Secret - <code>@Html.Raw(ConfigurationManager.AppSettings["ConsumerSecret"])</code></li>
</ul>