@model Core.ViewModels.ResponseViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/Content/css/core.css" type="text/css">
    <link rel="stylesheet" href="~/Content/css/prism.css" type="text/css">
</head>
<body>
    <div>
        <h1>API request:</h1>
        <h2>@Html.Raw(Model.Url)</h2>
        @Html.TextAreaFor(m => m.AuthHeaders, new { @class = "medium-input" })
        @Html.TextAreaFor(m => m.PostParameters, new { @class = "medium-input" })

        <h1>API response:</h1>
        @Html.TextAreaFor(m => m.Response, new { @class = "large-input" })
    </div>
</body>
</html>
